.table2, .table4 {
  width: 100%; /* Default to full width for small screens */
  height: auto; /* Optional: adjust as needed */
}

@media (min-width: 600px) { /* For devices larger than 600px */
  .table2 {
      width: 60%; /* Set width to 60% for larger screens */
  }
  
  .table4 {
      width: 50%; /* Set width to 45% for larger screens */
  }
}

.gallery-container {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 80%;
  margin: auto;
}
.gallery {
  display: flex;
  transition: transform 0.3s ease-in-out;
}
.gallery img {
  width: 200px;
  margin: 5px;
  border-radius: 8px;
}
.button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin: 10px;
}

