.table2 {
  width: 100%; /* Default to full width */
  height: auto; /* Maintain aspect ratio */
}

.table4 {
  width: 100%; /* Default to full width */
  height: auto; /* Maintain aspect ratio */
}

@media (min-width: 600px) { /* For devices larger than 600px (like laptops) */
  .table2 {
      width: 60%; /* Adjust the width for larger screens */
  }

  .table4 {
    width: 45%; /* Adjust the width for larger screens */
  }
}